* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(240, 245, 245);
    grid-row: span 2;
    font-family: sans-serif;
}

.container-father {

    margin: 20px auto;
    display: grid;
    /*espaciados  entre las columnas y filas*/
    grid-template-columns: repeat(3, 1fr);
    /*funcion para repetir las columnas y no tener que escribir cada una*/
    grid-template-rows: repeat(4, auto);
}

.container-father header {
    display: flex;
    justify-content: space-between;
    background: #0F0E3A;
    color: aliceblue;
    grid-column-start: 1;
    grid-column-end: -1;
}

.vali-card {
    display: flex;
    align-content: center;
    padding: 10px;

}

.tex-vali {
    display: flex;
    align-items: center;
    justify-content: center;
    
    left: 127px;
    font-size: 48px;
    background: linear-gradient(180deg, #A5A6F6 0%, #0D1C50 99.99%, rgba(89, 123, 241, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.correo-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.text-verifica-tarjeta {
    width: 540px;
    height: 127px;
    font-size: 48px;
    line-height: 64px;

    color: #0F0E3A;
}

.container-father .contenido {
    grid-column: span 2;
    display: flex;
    
    flex-direction: column;
    grid-row: span 2;
    margin: 1.2vw;
    height: 600px;


}

.input-verificacion {
    background: #e77409;
    border-radius: 10px;
    margin: 80px;
    width: 463px;
    height: 287px;
    background: linear-gradient(180deg, rgba(15, 32, 37, 0.96) 3.65%, #7879F1 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;




}

.input-line {
    color: #fff;
    background: linear-gradient(180deg, rgba(15, 32, 37, 0.96) 3.65%, #7879F1 100%);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;

}

.maestro-visa {
    display: flex;
    gap: 20px;
    width: 305px;
    height: 28px;
    left: 373px;
    top: 389px;
    font-size: 25px;
    color: #FFFFFF;


}



.container-father .sidebar {
    grid-column: 3/4;
    background: #e77409;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
    margin: 1.2vw;
    min-height: 100px;
    /* con este le indicamos que 
    su tamaño menino debe ser de 100px, asi no se vera tan 
    chiquito cuando se vea en dispositivos moviles*/
}


.footer-text {
    background: #0F0E3A;
    color: aliceblue;
    grid-column: span 3;
    min-height: 80px;

}

@media screen and (max-width:768px) {
    body {
        background-color: black;
    }

    .container-father .contenido {
        grid-column: 1/-1;
    }

    .container-father .sidebar {
        grid-column: 1/-1;
    }

}